.feedback-container {
  background-image: url('../img/bg/team-bg.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}
.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
color: #fff;
  font-family: 'Raleway',sans-serif;
  padding: 20px 0px;

}
@media(max-width:800px) {
  .feedback__text-wrapper {
      padding-bottom: 80px !important;
  }
}
@media(max-width:1000px) {
  .feedback-content {
    display: block;
    padding-bottom: 100px;
  }
  .feedback__text-wrapper {
    margin-top: 50px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
  
  .feedback__text {
        margin: 40px auto !important;
  }
  .slider__img {
    display: none;
  }
  .slider-block__text-wrapper {
    margin-left: 0 !important;
  }
  #go-to-next-holder {
    left:48% !important;
  }
  #go-to-prev-holder {
    left: 48% !important;
  }
}
@media(max-width:450px) {
  #go-to-next-holder {
    left: 44% !important;
  }
  #go-to-prev-holder {
    left: 44% !important;
  }
}
@media(max-width:690px) {
  .services-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  .service__img {
    display: none;
  }
  .feedback__title {
    font-size: 35px;
  }
}
.feedback__text-wrapper {
  padding-bottom: 140px;
  max-width: 514px;
  margin-top: 134px;
}

.feedback__title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}
.feedback__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 78px;
}
.feedback__button_color {
  background-color: #061e37 !important;
  display: inline-block;
}
.feedback__slider-wrapepr {
  /* max-height: 455px; */
  /* border: 1px solid red; */
  position: relative;
}
.feedback__slider-holder {
  /* width: 100%; */
  max-width: 760px;

  position: relative;
}
#go-to-next-holder {
  position: absolute;
  top: -60px;
  left: 57%;
}
#go-to-prev-holder {
  position: absolute;
  bottom: -60px;
  left: 57%;
}
#go-to-next {
  display: none;
}
#go-to-prev {
  display: none;
}
.slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          align-items: center;
}

.slider-block__text-wrapper {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 50px;
  padding: 30px;
}
.slider-block__title {
  color: #061e37;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}
.slider-block__text {
  font-size: 15px;
  font-style: italic;;
  line-height: 1.6;
  color: #000;
}
.slider__icon {
  font-size: 45px;
  color: #ffffff;
  font-weight: 400;
}