.feedback-container {
  background-image: url('../img/bg/team-bg.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}
.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
color: #fff;
  font-family: 'Raleway',sans-serif;
  padding: 40px 0px;

}
.feedback__text-wrapper {
  padding-bottom: 140px;
  max-width: 514px;
  margin-top: 134px;
}

.feedback__title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}
.feedback__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 78px;
}
.feedback__button_color {
  background-color: #061e37 !important;
  display: inline-block;
}
.feedback__slider-wrapepr {
  /* width: 760px; */
  /* height: 455px; */
  border: 1px solid red;
}
.slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
