.header {
	background: #14d8c3 url('../img/bg/header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	padding-top: 52px;
	padding-bottom: 190px;
	overflow: hidden;
}
@media(max-width:768px) {
	.header {
		padding: 20px 0;
	}
}
.header__wrapper {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;

}
.logo {
	display: block;
}
.logo__wrapper {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 400;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}
.logo__text-wrapper {
	margin-left: 10px;
}
.logo__text {
	display: block;
	font-weight: 700;

}
.menu__phone {
	display: none;
	position: relative;
}
@media(max-width:750px) {
	.menu__phone {
		display: block;
	}
	.menu__phone__button {
		 display: block;
		 margin-left: auto;
		 background-color: transparent;
		 width: 60px;
		 height: 60px;
		 border: 1px solid #fff;
		 border-radius: 8px;
		 position: relative;
		 cursor:pointer;
		 -webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
		 -ms-border-radius: 8px;
		 -o-border-radius: 8px;
}
	.menu__phone__button span,
	.menu__phone__button span::before,
	.menu__phone__button span::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 35px;
		height: 1px;
		margin-left: -17.5px;
		margin-top: -1px;
		background-color: #fff;
		transition: 0.5s;
	}
	.menu__phone__button span::before,
	.menu__phone__button span::after {
		content: '';
		display: block;
		transition: 0.5s;
	}
	.menu__phone__button span::after {
		transform: translateY(10px);
	}

	.menu__phone__button span::before {
		transform: translateY(-10px);
	}
}
.menu__phone__button {
	display: block;

}
.menu__list {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.menu__list__phone {
	display: block;
	position: absolute;
	top: 65px;
	left: 0;
	font-size: 24px;
	font-weight: 500;
	transition: all 0.6s ease-in;
	-webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transform: translateX(110%);
	-webkit-transform: translateX(110%);
	-moz-transform: translateX(110%);
	-ms-transform: translateX(110%);
	-o-transform: translateX(110%);
	opacity: 0;
	background: #061e37;
}
.menu__list__phone-active {
	transform: translateX(-25%);
	opacity: 1;
	-webkit-transform: translateX(-25%);
	-moz-transform: translateX(-25%);
	-ms-transform: translateX(-25%);
	-o-transform: translateX(-25%);
}
.menu__list__phone .menu__item {
	margin-right: 0;
	margin-top: 16px;
}
@media(max-width:750px) {
	.menu {
		display: none;
	}
	.header__button {
		display: none;
	}
}
.menu__item {
	margin-right: 50px;
}
@media(max-width:830px) {
	.menu__item {
		margin-right: 25px;
	}
}
.menu__item:nth-last-child(1) {
	margin-right: 0;
}
.menu__link__header {
	color: #fff;
	-webkit-transition: 0.2s all ease-in;
	transition: 0.2s all ease-in;
	position: relative;
	-moz-transition: 0.2s all ease-in;
	-ms-transition: 0.2s all ease-in;
	-o-transition: 0.2s all ease-in;
}
.menu__link__header::before {
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	background-color: #061e37;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transition: 0.2s all ease-in;
	-webkit-transition: 0.2s all ease-in;
	-moz-transition: 0.2s all ease-in;
	-ms-transition: 0.2s all ease-in;
	-o-transition: 0.2s all ease-in;
}
.menu__link__header:hover {
	 color: #061e37;
	 font-weight: 500;
}
.menu__link__header:hover::before {
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
}
.header__button {
	color: #fff;
	background-color: transparent;
	text-transform: lowercase;
	border:1px solid #fff;
	border-radius: 2px;
	padding: 6px 20px;
	-webkit-transition: 0.2s all ease-in;
	transition: 0.2s all ease-in;
}
.header__button:hover {
	color: #061e37;
	border:1px solid #061e37;

}
.header__elements {
	margin-top: 170px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* flex-wrap: wrap; */
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width:1190px) {
	.header__elements {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 80px;
	}
}
@media (max-width:750px) {
	.header__elements {
		margin-top: 40px;
	}
}
.elements__wrapper {
	text-align: left;
	color:#fff;
	width: 580px;
}
@media (max-width:1190px) {
	.elements__wrapper {
		text-align: center;
	}
}
.elements__title {
	font-size: 55px;
	font-weight: bold;
	line-height: 65px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
@media(max-width:1024px) {
	.elements__title {
		font-size: 45px;

	}
}
.elements__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 10px;
}
@media (max-width:750px) {
	.elements__text {
		max-width: 510px;
		/* margin-right: auto; */
		/* margin-left: auto; */
		text-align: left;
	}
	.elements__title {
		font-size: 40px;
		margin-bottom: 10px;
		text-align: left;
		max-width: 380px;
		/* margin-left: 20px; */
		/* margin-right: auto; */
	}
}
.elements__buttons__wrapper {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
}
@media (max-width:1190px) {
	.elements__buttons__wrapper {
		margin: 30px 0;
		justify-content: space-between;
	}
}
.btn_element-1 {
	font-family: 'Roboto', sans-serif !important;
	padding-left: 42px;
	padding-right: 42px;
	background-color: #061e37 !important;
	margin-right: 30px;
	font-weight: 400 !important;
}
@media(max-width:1190px) {
	.btn_element-1 {
		margin-left: auto;
	}
}
@media(max-width:769px) {
	.btn_element-1 {
		margin-right: auto;
	}
	.btn_element-2 {
		margin-left: auto;
	}
}
.btn_element-2 {
	background-color: #ffffff !important;
	color: #061e37 !important;
	padding-left: 30px;
	padding-right: 25px;
}
@media(max-width:1190px) {
	.btn_element-2 {
		margin-right: auto;
	}
}
.elements__video__wrapper {
	position: relative;
	max-width: 100%;
}
.elements__video {
	max-width: 100%;
}
.video__play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #061e37;
	outline: none;
	cursor: pointer;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}

.video__play::before {
	content: "\E037";
	position: absolute;
	font-family: "Material Icons";
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}