@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700,800|Roboto');
/* 
	font-family: 'Raleway', sans-serif; 
	font-family: 'Roboto', sans-serif;
*/


h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

.btn {
	display: block;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
}