@import url('desc.css');
@import url(header.css);



h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

.btn {
	display: block;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif; 
	background-color: #1de9b6;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.header-2 {
	color: #061e37;
	font-family: 'Raleway', sans-serif; 
	font-size: 45px;
	font-weight: 400;
	margin-bottom: 29px;
}