@import url('desc.css');
@import url('header.css');
@import url('counts.css');
@import url('services.css');
@import url('feedbacks.css');
@import url('team.css');
@import url('contacts.css');
@import url('footer.css');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");



h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

.btn {
	/* display: block; */
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	background-color: #1de9b6;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.4s ease-out ;
	-webkit-transition: all 0.4s ease-out ;
	-moz-transition: all 0.4s ease-out ;
	-ms-transition: all 0.4s ease-out ;
	-o-transition: all 0.4s ease-out ;
}
.btn:hover {
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
	transform: translateY(-5px) scale(1.1,1.1);
	-webkit-transform: translateY(-5px) scale(1.1,1.1);
	-moz-transform: translateY(-5px) scale(1.1,1.1);
	-ms-transform: translateY(-5px) scale(1.1,1.1);
	-o-transform: translateY(-5px) scale(1.1,1.1);
}
.gs__button {
	/* display: block; */
	padding-left: 26px;
	padding-right: 26px;
	margin-left: auto;
	margin-right: auto;
	max-width: 150px;

}
.header-2 {
	color: #061e37;
	font-family: 'Raleway', sans-serif; 
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 29px;
}
.desc__p {
	margin-left: auto;
	margin-right: auto;
	max-width: 555px;
	color: #b0bec5;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
}
.ta-c {
	text-align: center;
}