.services-wrapper {
	margin-bottom: 100px;
}
.services__text-wrapper {
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	margin-top: 100px;
}
.services-features-wrapper {
	margin-top: 50px;
}
.service {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding: 25px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 20px;
	color: #061e37;
}

.service__header-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	cursor:pointer;
}
.service__icon {
	padding: 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
.service_down {
	margin-left: auto;
	font-size: 25px !important;
}
.service__header {
	font-weight: 700 !important;
	font-size: 15px !important;
	text-transform: uppercase;
	margin: 0 0 0 25px !important;

}
.service__content-wrapper {
	display: none;
}
.service__content-wrapper-active {
	display: block;
}
.service__content {
	margin-top: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.service__img {
	margin-right: 25px;
}
.service__text {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.45px;
}
.service__p {
	margin-bottom: 30px;
}
.service__p:nth-last-child(1) {
	margin-bottom: 0;
}
/*.block-content {
  margin-top: 25px;
  display: flex;
}*/
/*.block-content-wrapper {
  display: none;
}*/
/*.block-content-wrapper-active {
  display: block;
}*/
/*.block-img {
  margin-right: 25px;
  width: 250px;
  height: 155px;
  background-color: #b388ff;
} */
/*.block-text p {
  max-width: 467px;
}*/